* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.container,
.colors,
.hex-values {
  display: flex;
}

.container {
  flex-direction: column;
  align-items: center;
  width: 550px;
  margin: 0 auto;
}

.color {
  height: 550px;
  width: 110px;
}

.hex-value {
  margin: 2em;
  font-size: 0.75rem;
  cursor: pointer;
}
