* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1C1C1C;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  margin-top: 3em;
}

.container,
.colors,
.hex-values,
.input-group {
  display: flex;
}

.container {
  flex-direction: column;
  align-items: center;
  width: 550px;
  margin: 0 auto;
}

.input-group {
  position: fixed;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  height: 5.625em;
  width: 100%;
  max-width: 550px;
  padding: 0 1.25em;
}

#color {
  width: 61px;
  height: 42px;
  padding: 0.03125em 0.15em;
  background: #E5E5E5;
  border: 0.5px solid #D1D5DB;
}

#color-type {
  width: 312px;
  height: 42px;
  border: 1px solid #D1D5DB;
  border-radius: 4px;
  padding: 9px 13px;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='7' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 1L8 8L1 1' stroke='%239CA3AF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position-x: 97%;
  background-position-y: 50%;
  color: #111827;
  font-weight: 400;
}

#get-button {
  width: 123px;
  height: 42px;
  font-size: 0.75rem;
  color: #374151;
  padding: 13px 11px;
  background-color: #fff;
  border: 1px solid #D1D5DB;
  border-radius: 4px;
  cursor: pointer;
}

#get-button:active {
  transform: scale(.96);
}

.color {
  height: 550px;
  width: 110px;
}

.hex-values {
  width: 100%;
  max-width: 550px;
  height: 46px;
  justify-content: space-around;
  background-color: #fff;
  padding: 17px 5px;
}

.hex-value {
  font-size: 0.75rem;
  cursor: pointer;
}
